<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<p th:text="${book.getName()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYear()}">TEXT</p>
<br/>
<hr/>

<div>
    <p th:if="${bookOwner != null}" th:text="'This book reserv to' + ${bookOwner.getName()}"></p>
    <p th:unless="${bookOwner != null}" th:text="'This book not reserv.'"></p>
</div>

<br/>
<hr/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getBook_id()})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBook_id()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>